<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
    <h1>Restaurant Directory</h1>
    <h2>Modify Restaurant</h2><br>

      <form action="/modify/restaurant/@Model.GetId()" method="post">
        <input type="hidden" name="_method" value="PATCH">
        <div class="form-group">
          <label for="restaurant_name">Restaurant Name:</label>
          <input class="form-control" type="text" name="restaurant_name" placeholder="@Model.GetName()">
        </div>
        <div class="form-group">
          <label for="restaurant_address">Address:</label>
          <input class="form-control" type="text" name="restaurant_address" placeholder="@Model.GetAddress()">
        </div>
        <div class="form-group">
          <label for="restaurant_website">Website:</label>
          <input class="form-control" type="text" name="restaurant_website" placeholder="@Model.GetWebsite()">
        </div>
        <div class="form-group">
          <label for="restaurant_phone">Phone Number:</label>
          <input class="form-control" type="text" name="restaurant_phone" placeholder="@Model.GetPhone()">
        </div>
        <button class="btn btn-info" type="submit">Modify Restaurant</button>
      </form>
    <h5><a href="/">Home</a></h5>
  </div>
